.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: navy;
  color: white;
  padding-left: 10px;
  height: 8vh;
}

.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.headerLinks {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}